<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="novels content">
    <h2>All Novels</h2>

    <% if (novels.length > 0) { %>
      <% novels.forEach(novel => { %>
        <a class="single" href="/novels/<%= novel._id %>">
          <h3 class="title"><%= novel.title %></h3>
          <p class="description"><%= novel.description %></p>
        </a>
      <% }) %>
    <% } else { %>
      <p>There are no novels to display...</p>
    <% } %>
    
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>